@import 'variables';
@import 'mixins';

@mixin flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}

.footer-socials {
  width: 100%;
  padding: 33px 0 26px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorDark;

  .container {
    @include flexContainer;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    color: $colorDarkLight2;
  }

}

.footer-logo {
  padding: 10px 0 11px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorDarkLight;


  & .logo{
    padding-left: 8px;
  }

  &__text {
    font-family: 'TT Firs Neue';
    font-size: 10px;
    line-height: 13px;
    color: $colorDarkLight5;
  }
}

@media(min-width: 762px) {
  .footer {
    padding: 24px 0;
    background-color: $colorDark;

    .container {
      width: 96.9%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &-logo {
      width: 263px;
      height: 50px;
      padding: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: transparent;
    }
    &-logo__text {
      top: -1px;
      left: 11px;
      width: 102%;
      font-size: 14px;
    }
    &-socials {
      width: 173px;
      padding: 0;
      display: block;
      background-color: transparent;


      .socials__list {
        right: 4px;
      }
      .socials__item+.socials__item {
        margin-left: -20px;
      }
    }
  }
}
@media(max-width: 1023px) {
  .footer-text-wrapped {
    display: none;
  }
}
@media(min-width: 1024px) {
  .footer {
    padding: 18px 0;
    .container {
      width: 95.5%;
    }
  }
  .footer-logo__text {
    top: 4px;
    left: 7px;
  }
  .footer-text {
    &-wrapped {
      display: block;
      top: 6px;
      left: 7px;
      width: 37%;
      margin: auto;
      font-size: 16px;
      line-height: 22px;
    }
    &--light {
      color:$colorLight;
    }
    &--dark {
      color:$colorDarkLight4;
    }
  }
  .footer-socials {
    width: 175px;

    &__title {
      top: 5px;
      left: 5px;
      font-family: "Roboto";
    }
    .socials__list {
      justify-content: center;
    }
    .socials__item+.socials__item {
      margin-left: 20px;
    }
  }
}
@media(min-width: 1400px) {
  .footer {
    .container {
      width: 1290px;
    }

    &-logo {
      .logo {
        top: -1px;
        padding-left: 0px;

        &__link {
          svg{
            width: 191px;
            height: 33px;
          }
        }
      }
      &__text {
        top: 1px;
        left: 1px;
      }
    }
    &-text {
      &-wrapped {
        width: 31%;
        padding-right: 25px;
      }
    }
    &-socials {
      &__title {
        left: 15px;
      }

      .socials__list {
        top: 5px;
        left: 7px;
      }
    }
  }
}