@import 'variables';
@import 'mixins';

@mixin dateIconsSize320 {
  width: 14px;
  height: 14px;
}
.masterclasses {
  margin-bottom: 30px;
  padding-top: 23px;
  padding-bottom: 32px;
  background-color: $colorDark;

  &__title {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: $colorLight;
  }

  &__dateInfo--wrapped {
    padding: 0;
    display: flex;
  }
  &__dateInfo {
    flex: 0 1 27%;
    font-size: 12px;
    color:$colorLight;

    svg {
      @include dateIconsSize320;
      margin-right: 5px;
    }
  }
}

.masterclasses-head {

  &__picture {
    margin-bottom: 14px;
    @include picture;
  }
  &__img {
    @include img;
  }
  &__title {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color:$colorLight;
  }
  &__text {
    margin-bottom: 21px;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color:$colorLight;
  }
  &__link {
    margin-bottom: 46px;
    padding: 10px 20.5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color:$colorLight;
  }
  &__info {
    .masterclasses__dateInfo--wrapped {
      margin-bottom: 9px;
    }
  }
}

.masterclasses-foot {

  &-article {
    display: grid;
    grid-template-columns: 94px auto;
    gap: 28px;

    &__picture {

      @include picture;
    }
    &__img {
      @include img;
    }
    &__title {
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color:$colorLight;
    }
    &__infoWrap {
      .masterclasses__dateInfo {

        flex: 0 1 46%;

        &--wrapped {
          justify-content: space-between;
          margin-bottom: 3px;
        }
      }
    }
  }

  &__item {
    margin-bottom: 25.5px;
    & + & {
      margin-top: 10px;
    }

    &:nth-last-child(-n + 2) {
      .masterclasses-foot-article__infoWrap {
        padding-top: 10px;
      }
    }
  }
}

@media(min-width: 762px) {
  .masterclasses {
    margin-bottom: 40px;
    padding-top: 44px;
    padding-bottom: 66px;
  }
  .masterclasses__title {
    margin-bottom: 19px;
    font-size: 24px;
  }
  .masterclasses-head {
    margin-bottom: 14px;
    display: flex;
    gap: 30px;

    &__picture,
    &__info {
      flex: 0 1 50%;
    }

    &__picture {
      margin-bottom: 0px;
    }
    &__title {
      font-size: 24px;
    }
    &__info {
      padding-top: 16px;
    }
    &__text {
      margin-bottom: 21px;
      line-height: 28px;
    }
    &__text,
    &__link {
      font-size: 16px;
    }
    &__link {
      padding: 15px 20.5px;
    }
    .masterclasses__dateInfo {
      flex: 0 1 22%;
      &--wrapped{
        margin-bottom: 11px;
      }
    }

  }
  .masterclasses-foot {

    &__item {
      margin-bottom: 0px;
      & + & {
        margin-top: 0px;
      }
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 16px;
      grid-column-gap: 30px;
    }
    &__item:nth-last-child(-n+2) &-article__infoWrap {
      padding-top: 0px;
    }
    &-article {
      &__infoWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .masterclasses__dateInfo--wrapped {
          justify-content: left;
        }
        .masterclasses__dateInfo {
          flex: 0 1 38.5%;
        }
      }
    }
  }
}
@media(min-width: 1024px) {
  .masterclasses {
    margin-bottom: 31px;
  }
  .masterclasses-head {
    margin-bottom: 14px;
    &__picture {
      margin-bottom: 0px;
    }
    &__title {
      font-size: 24px;
    }
    &__info {
      padding-top: 16px;
    }
    &__text {
      margin-bottom: 77px;
      line-height: 28px;
    }
    &__text,
    &__link {
      font-size: 16px;
    }
    &__link {
      padding: 15px 20.5px;
    }
    .masterclasses__dateInfo {
      flex: 0 1 16%;
      &--wrapped{
        margin-bottom: 11px;
      }
    }
  }
  .masterclasses-foot {
    &-article {
      &__infoWrap {
        .masterclasses__dateInfo {
          flex: 0 1 23.5%;
        }
      }
    }
  }
}
@media(min-width: 1400px) {
  .masterclasses {
    padding-bottom: 29px;

    .container{
      display: grid;
      grid-template-columns: repeat(12, 1fr)!important;
      grid-row-gap: 0px;
      grid-column-gap: 30px;
    }
    &__title {
      grid-column: 1 / 13;
      grid-row: 1 / 2;
    }
    &-head {
      grid-column: 1 / 9;
      grid-row: 2 / 3;

      .masterclasses__dateInfo {
        flex: 0 1 18.5%;
      }
      &__text {
        margin-bottom: 50px;
      }
    }
    &-foot {
      &__item:nth-child(1) {
        order: 1;
      }
      &__item:nth-child(2) {
        order: 3;
      }
      &__item:nth-child(3) {
        order: 2;
      }
      &__item:nth-child(4) {
        order: 4;
      }
      &__list {
        height: 92.5%;
        grid-column: 9 / 13;
        grid-row: 2 / 3;
        grid-template-columns: 1fr;
      }
      &-article {
        grid-template-columns: 80px auto;
        gap: 16px;

        &__picture {
          width: 80px;
          height: 60px;
        }

        &__infoWrap {
          .masterclasses__dateInfo {
            flex: 0 1 26.2%;
          }
        }
      }
    }
  }
}