@import 'variables';
@import 'mixins';

.ourServices {
  margin-bottom: 47px;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }
  &-switch--wrapped {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &-switch__button {
    $prop: color, border, background-color;
    @include transition($prop);

    padding: 0px;
    border-bottom: 4px solid transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color: $colorDarkLight4;
    z-index: 1;
    &:focus-visible {
      outline: none;
      background-color: $colorMainFocus;
    }
    &:hover {
      color: $colorMain;
    }
    &:active {
      color: $colorMainActive;
    }
  }
  &-switch__button.active {
    border-bottom: 4px solid $colorMain;
    color: $colorMain;
    pointer-events: none;
    &:focus {
    outline: none;
    background-color: transparent;
    }
  }
  &-switch__underLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    background-color: $colorDarkLight2;
  }

  // ourServices__list
  &__list--wrapped {
    margin-bottom: -2px;
  }
  &__list {
    @include hiddenWithAbs;
    height: 1px;
    overflow: hidden;
    transition: opacity 0.3s linear;
    &.active {
      @include hiddenWithAbsOff;
      height: 100%;
    }
  }
  &-executedWorks {
    @include hiddenWithAbs;
    height: 1px;
    transition: opacity 0.3s linear;
    &.active {
      @include hiddenWithAbsOff;
      height: 100%;
    }
  }
  &-item {

    margin-bottom: 20px;

    &__picture {
      @include picture;
      margin-bottom: 10px;
    }

    &__picture + &__title {
      margin-top: 12px;
    }

    &__img {
      @include img;
    }

    &__title {
      margin-bottom: 9px;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
    }
    &__text {
      margin-bottom: 5px;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $colorDarkLight3;
    }
    &__link {
      padding: 0px;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      color: $colorMain;

      span {
        line-height: 28px;
      }

      svg {
        margin-left: 5px;
        width: 15px;
        height: 10px;
      }
    }
  }

  &-item-promo {

    display: inline-block;

    &--wrapped {
      margin-bottom: 18px;
    }

    &__head {
      position: absolute;
      width: 100%;
      padding: 20px 30px;
      top: 0;
      display: flex;
      justify-content: space-between;
      color: $colorPromo;
    }
    &__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 104%;
      &--wrapped {
        p {
          font-size: 13px;
          line-height: 24px;
        }
      }
    }
    p {
      font-family: 'TT Firs Neue';
      font-weight: bold;
    }
    &__bonusInfo {
      width: 85px;
      height: 43px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      top: 5px;
      border: 3px solid $colorPromo;
      border-radius: 100%;
      font-size: 21px;
    }

    &__foot {
      position: absolute;
      padding: 30px;
      bottom: 3px;
    }
    &__text {
      margin-bottom: 16px;
      font-weight: normal !important;
      font-style: normal;
      font-size: 14px;
      line-height: 18px;
      color: $colorLight;
    }
    &__link {
      padding: 10px 21px;
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &-executedWorks {

    &__title {
      margin-bottom: 14px;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 25.6px;
    }
    &__link {
      padding: 0;
      .ourServices-item__picture {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 762px) {
  .ourServices {
    margin-bottom: 33px;

    &__title {
      margin-bottom: 11px;
      font-size: 24px;
    }
    &-switch {
      &--wrapped{
        width: calc(50% - (30px / 2));
      }
      &__button {
        font-size: 16px;
      }
    }
    &__head {
      margin-bottom: 30px;
    }
  }

  .ourServices__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 21px;

    &--wrapped {
      margin-bottom: 23px;
    }
  }

  .ourServices-item {
    position: static;
    height: 100%;
    margin-bottom: 0px;

    &__info--wrapped {
      width: 100%;
      position: static;
      padding-bottom: 18px;
    }
    &__title {
      width: 101%;
      margin-bottom: 7px;
      font-size: 24px;
      line-height: 22px;
    }
    &__text {
      width: 100%;
      margin-bottom: 11px;
      font-size: 16px;
      line-height: 22px;
    }
    &__link {
      position: absolute;
      bottom: 0;
      font-weight: bold;
      font-size: 16px;
      svg{
        width: 22px;
        height: 12px;
      }
    }
  }

  .ourServices-item-promo {
    &--wrapped {
      margin-bottom: 19px;
    }
    &__bonusInfo {
      width: 115px;
      height: 60px;
      top: -1px;
      font-size: 30px;
    }
    &__title--wrapped {
      p {
        font-family: 'Roboto';
        font-size: 16px;
      }
    }
    &__title {
      font-size: 36px;
    }
    &__foot {
      bottom: 3px;
    }
    &__text {
      width: 58%;
      margin-bottom: 10px;
      font-family: 'Roboto'!important;
      font-size: 16px;
      line-height: 22px;
    }
    &__link {
      padding: 15px 21px;
      font-size: 16px;
    }
  }
  .ourServices-executedWorks {
    &__title {
      font-size: 24px;
    }
    &__list {
      grid-template-columns: repeat(6, 1fr);
      gap: 28px;
    }
  }
}

@media(min-width: 1024px) {
  .ourServices {
    $_gap: 10px;

    margin-bottom: 3px;

    .container {
      display: grid;
      grid-template-columns: 5fr 2.8fr;
      grid-template-rows: auto auto auto;
      gap: $_gap;
    }
    &__head {
      margin-bottom: 0px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      .ourServices-switch--wrapped {
        width: 410px;
      }
    }
    &__list {
      gap: 16px;
      &--wrapped {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }
    &__list--1 {
      grid-template-columns: 1fr;
      .ourServices-item {
        display: flex;
        gap: $_gap;
      }
    }
    .ourServices-item {
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      gap: $_gap;

      &__picture {
        max-width: 218px;
        margin-bottom: 0px;
        flex: 0 1 64%;
      }
      &__img {
        width: 218px;
        height: 184px;
        flex: 0 1 64%;
      }
      &__info--wrapped {
        padding-left: 22px;
        padding-bottom: 0;
      }
      &__text {
        width: 95%;
      }
      &__link {
        position: relative;
      }
    }
    .ourServices__list--2 {

      grid-column-gap: 30px;
      &.active {
        margin-right: 15px;
      }
      .ourServices-item {
        flex-direction: column;

        &__picture {
          max-width: 100%;
        }
        &__img {
          width: 100%;
          height: 140px;
        }
        &__info--wrapped {
          padding-left: 0px;
        }
      }
    }
    &-item-promo {
      &--wrapped {
        margin-bottom: 30px;
      }
      &__wrapper {
        padding-top: 6px;
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        &.active {
          padding-top: 0px;
          grid-row: 2 / 4;
        }
      }
      &__head {
        height: 370px;
        flex-direction: column;
      }
      &__text {
        width: 75%;
      }
    }
    &-executedWorks {
      &__list {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 17px;
        grid-column-gap: 30px;
      }
    }
  }
}
@media(min-width: 1400px) {

  .ourServices {
    margin-bottom: 0px;
  }

  .container {
    grid-template-columns: 6fr 2.8fr !important;
  }
  .ourServices__list {
    gap: 21.5px;
  }
  .ourServices__list--1 {

    .ourServices-item {
      &__picture {
        max-width: 300px;
        margin-bottom: 0px;
        flex: 0 1 64%;
      }
      &__img {
        width: 300px;
        height: 140px;
        flex: 0 1 64%;
      }
      &__info--wrapped {
        padding-left: 18px;
      }
    }
  }
  .ourServices-item-promo {
    &__text {
      width: 64%;
    }
  }
  .ourServices-executedWorks {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 27px;
      grid-column-gap: 30px;
    }
  }
}
