$colorDark:  #202020;
$colorDark1:  #223444;
$colorDarkLight:  #4A4A4A;
$colorDarkLight1:  #CACACA;
$colorDarkLight2:  #C4C4C4;
$colorDarkLight3:  #999999;
$colorDarkLight4:  #666666;
$colorDarkLight5:  #E9E9E9;
$colorDarkLight6:  #808080;
$colorBackgroudHashtag:  #333333;
$colorBackgroudAboutUs:  #202020;
$colorLight:  #ffffff;
$colorMain: #FF6E30;
$colorMainOpacity: adjust-color(#FF6E30, $lightness: +10%, $alpha: -0.6);
$colorMainActive: #CE4307;
$colorMainFocus: #FFD4C1;
$colorMainFocusDark: #BC572B;
$colorPromo: #FFF500;
