
footer.footer#footer
  .container
    .footer-logo
      +logo
      p.footer-logo__text Фотостудия High pass® 2018-2020
    .footer-text-wrapped
      p.footer-text--light Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра.
      p.footer-text--dark © Имоджен Каннингем
    section.footer-socials
      h4.footer-socials__title Больше интересного:
      ul.socials__list
       +socilsItems
