-var className = 'ourProjects-item'

-var picturesList1 = [ { unique: className + '__picture-1', pic:'/img/ourProjects/ourProjects_1_1.jpg', picWebp:'/img/ourProjects/ourProjects_1_1.webp', x320webp: '/img/ourProjects/ourProjects_1_1_320.webp', x320jpg: '/img/ourProjects/ourProjects_1_1_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_1_1_768.webp', x768jpg: '/img/ourProjects/ourProjects_1_1_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_1_1_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_1_1_1024.jpg  1024w', hashtag:'#пейзаж', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография природы. За рекой виднеется лес, а из-за леса видны горы', big: false, }, { unique: className + '__picture-2', pic:'/img/ourProjects/ourProjects_1_2.jpg', picWebp:'/img/ourProjects/ourProjects_1_2.webp', x320webp: '/img/ourProjects/ourProjects_1_2_320.webp', x320jpg: '/img/ourProjects/ourProjects_1_2_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_1_2_768.webp', x768jpg: '/img/ourProjects/ourProjects_1_2_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_1_2_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_1_2_1024.jpg  1024w', hashtag:'#портрет', title: 'В своём стремлении улучшить опыт мы упускаем, что явные...', href: '#', date: '28 мая', alt: 'Черно-белый портрет кудрявого бородатого мужчины мужчиныю', big: false, }, { unique: className + '__picture-3', pic:'/img/ourProjects/ourProjects_1_3.jpg', picWebp:'/img/ourProjects/ourProjects_1_3.webp', x320webp: '/img/ourProjects/ourProjects_1_3_320.webp', x320jpg: '/img/ourProjects/ourProjects_1_3_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_1_3_768.webp', x768jpg: '/img/ourProjects/ourProjects_1_3_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_1_3_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_1_3_1024.jpg  1024w', hashtag:'#предмет', title: 'Равным образом, высокое качество позиционных...', href: '#', date: '14 мая', alt: 'Разные предметы на столе', big: false, }, { unique: className + '__picture-4', pic:'/img/ourProjects/ourProjects_1_4.jpg', picWebp:'/img/ourProjects/ourProjects_1_4.webp', x320webp: '/img/ourProjects/ourProjects_1_4_320.webp', x320jpg: '/img/ourProjects/ourProjects_1_4_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_1_4_768.webp', x768jpg: '/img/ourProjects/ourProjects_1_4_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_1_4_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_1_4_1024.jpg  1024w', hashtag:'#fuji', title: 'Cемантический разбор', text: 'В рамках спецификации современных стандартов, интерактивные прототипы', href: '#', date: '9 апреля', alt: 'Лицо девушки наполовину скрыто за неясным артефактом', big: true, }, { unique: className + '__picture-5', pic:'/img/ourProjects/ourProjects_1_5.jpg', picWebp:'/img/ourProjects/ourProjects_1_5.webp', x320webp: '/img/ourProjects/ourProjects_1_5_320.webp', x320jpg: '/img/ourProjects/ourProjects_1_5_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_1_5_768.webp', x768jpg: '/img/ourProjects/ourProjects_1_5_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_1_5_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_1_5_1024.jpg  1024w', hashtag:'#ретушь', title: 'Как принято считать, многие известные личности и по сей день остаются уделом либералов...', href: '#', date: '28 мая', alt: 'Натюрморт с цитрусовыми фруктами', big: false, }, { unique: className + '__picture-6', pic:'/img/ourProjects/ourProjects_1_6.jpg', picWebp:'/img/ourProjects/ourProjects_1_6.webp', x320webp: '/img/ourProjects/ourProjects_1_6_320.webp', x320jpg: '/img/ourProjects/ourProjects_1_6_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_1_6_768.webp', x768jpg: '/img/ourProjects/ourProjects_1_6_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_1_6_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_1_6_1024.jpg  1024w', hashtag:'#портрет', title: 'С учётом сложившейся международной обстановки, новая модель организационной...', href: '#', date: '14 мая', alt: 'Черно-белая фоторафия. Девушка стоит на полосатом фоне.', big: false, }, { unique: className + '__picture-7', pic:'/img/ourProjects/ourProjects_1_7.jpg', picWebp:'/img/ourProjects/ourProjects_1_7.webp', x320webp: '/img/ourProjects/ourProjects_1_7_320.webp', x320jpg: '/img/ourProjects/ourProjects_1_7_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_1_7_768.webp', x768jpg: '/img/ourProjects/ourProjects_1_7_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_1_7_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_1_7_1024.jpg  1024w', hashtag:'#проектзабвение', title: 'Забвение', text: 'Играет важную роль в формировании глубокомысленных рассуждений', href: '#', date: '16 июня', alt: 'Фотография природы. За рекой виднеется лес, а из-за леса видны горы', big: true, }, ]
//- -var picturesList1 = [
//-   {
//-     unique: className + '__picture-1',
//-     pic:'/img/ourProjects/ourProjects_1_1.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_1_1.webp',
//-     x320webp: '/img/ourProjects/ourProjects_1_1_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_1_1_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_1_1_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_1_1_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_1_1_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_1_1_1024.jpg  1024w',
//-     hashtag:'#пейзаж',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография природы. За рекой виднеется лес, а из-за леса видны горы',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-2',
//-     pic:'/img/ourProjects/ourProjects_1_2.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_1_2.webp',
//-     x320webp: '/img/ourProjects/ourProjects_1_2_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_1_2_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_1_2_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_1_2_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_1_2_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_1_2_1024.jpg  1024w',
//-     hashtag:'#портрет',
//-     title: 'В своём стремлении улучшить опыт мы упускаем, что явные...',
//-     href: '#',
//-     date: '28 мая',
//-     alt: 'Черно-белый портрет кудрявого бородатого мужчины мужчиныю',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-3',
//-     pic:'/img/ourProjects/ourProjects_1_3.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_1_3.webp',
//-     x320webp: '/img/ourProjects/ourProjects_1_3_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_1_3_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_1_3_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_1_3_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_1_3_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_1_3_1024.jpg  1024w',
//-     hashtag:'#предмет',
//-     title: 'Равным образом, высокое качество позиционных...',
//-     href: '#',
//-     date: '14 мая',
//-     alt: 'Разные предметы на столе',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-4',
//-     pic:'/img/ourProjects/ourProjects_1_4.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_1_4.webp',
//-     x320webp: '/img/ourProjects/ourProjects_1_4_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_1_4_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_1_4_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_1_4_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_1_4_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_1_4_1024.jpg  1024w',
//-     hashtag:'#fuji',
//-     title: 'Cемантический разбор',
//-     text: 'В рамках спецификации современных стандартов, интерактивные прототипы',
//-     href: '#',
//-     date: '9 апреля',
//-     alt: 'Лицо девушки наполовину скрыто за неясным артефактом',
//-     big: true,
//-   },
//-   {
//-     unique: className + '__picture-5',
//-     pic:'/img/ourProjects/ourProjects_1_5.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_1_5.webp',
//-     x320webp: '/img/ourProjects/ourProjects_1_5_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_1_5_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_1_5_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_1_5_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_1_5_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_1_5_1024.jpg  1024w',
//-     hashtag:'#ретушь',
//-     title: 'Как принято считать, многие известные личности и по сей день остаются уделом либералов...',
//-     href: '#',
//-     date: '28 мая',
//-     alt: 'Натюрморт с цитрусовыми фруктами',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-6',
//-     pic:'/img/ourProjects/ourProjects_1_6.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_1_6.webp',
//-     x320webp: '/img/ourProjects/ourProjects_1_6_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_1_6_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_1_6_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_1_6_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_1_6_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_1_6_1024.jpg  1024w',
//-     hashtag:'#портрет',
//-     title: 'С учётом сложившейся международной обстановки, новая модель организационной...',
//-     href: '#',
//-     date: '14 мая',
//-     alt: 'Черно-белая фоторафия. Девушка стоит на полосатом фоне.',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-7',
//-     pic:'/img/ourProjects/ourProjects_1_7.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_1_7.webp',
//-     x320webp: '/img/ourProjects/ourProjects_1_7_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_1_7_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_1_7_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_1_7_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_1_7_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_1_7_1024.jpg  1024w',
//-     hashtag:'#проектзабвение',
//-     title: 'Забвение',
//-     text: 'Играет важную роль в формировании глубокомысленных рассуждений',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография природы. За рекой виднеется лес, а из-за леса видны горы',
//-     big: true,
//-   },
//- ]

-var picturesList2 = [ { unique: className + '__picture-1', pic:'/img/ourProjects/ourProjects_2_1.jpg', picWebp:'/img/ourProjects/ourProjects_2_1.webp', x320webp: '/img/ourProjects/ourProjects_2_1_320.webp', x320jpg: '/img/ourProjects/ourProjects_2_1_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_2_1_768.webp', x768jpg: '/img/ourProjects/ourProjects_2_1_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_2_1_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_2_1_1024.jpg  1024w', hashtag:'#пейзаж', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография природы. Луна за тучами', big: false, }, { unique: className + '__picture-2', pic:'/img/ourProjects/ourProjects_2_2.jpg', picWebp:'/img/ourProjects/ourProjects_2_2.webp', x320webp: '/img/ourProjects/ourProjects_2_2_320.webp', x320jpg: '/img/ourProjects/ourProjects_2_2_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_2_2_768.webp', x768jpg: '/img/ourProjects/ourProjects_2_2_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_2_2_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_2_2_1024.jpg  1024w', hashtag:'#предмет', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография природы. Сладости на столе', big: false, }, { unique: className + '__picture-3', pic:'/img/ourProjects/ourProjects_2_3.jpg', picWebp:'/img/ourProjects/ourProjects_2_3.webp', x320webp: '/img/ourProjects/ourProjects_2_3_320.webp', x320jpg: '/img/ourProjects/ourProjects_2_3_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_2_3_768.webp', x768jpg: '/img/ourProjects/ourProjects_2_3_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_2_3_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_2_3_1024.jpg  1024w', hashtag:'#пейзаж', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография природы. Цветок какой-то', big: false, }, { unique: className + '__picture-4', pic:'/img/ourProjects/ourProjects_2_4.jpg', picWebp:'/img/ourProjects/ourProjects_2_4.webp', x320webp: '/img/ourProjects/ourProjects_2_4_320.webp', x320jpg: '/img/ourProjects/ourProjects_2_4_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_2_4_768.webp', x768jpg: '/img/ourProjects/ourProjects_2_4_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_2_4_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_2_4_1024.jpg  1024w', hashtag:'#портрет', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография. Грустный мужчмна в очках', big: true, }, { unique: className + '__picture-5', pic:'/img/ourProjects/ourProjects_2_5.jpg', picWebp:'/img/ourProjects/ourProjects_2_5.webp', x320webp: '/img/ourProjects/ourProjects_2_5_320.webp', x320jpg: '/img/ourProjects/ourProjects_2_5_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_2_5_768.webp', x768jpg: '/img/ourProjects/ourProjects_2_5_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_2_5_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_2_5_1024.jpg  1024w', hashtag:'#ретушь', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография природы. Китайский фонарик', big: false, }, { unique: className + '__picture-6', pic:'/img/ourProjects/ourProjects_2_6.jpg', picWebp:'/img/ourProjects/ourProjects_2_6.webp', x320webp: '/img/ourProjects/ourProjects_2_6_320.webp', x320jpg: '/img/ourProjects/ourProjects_2_6_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_2_6_768.webp', x768jpg: '/img/ourProjects/ourProjects_2_6_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_2_6_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_2_6_1024.jpg  1024w', hashtag:'#портрет', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография. Портрет девочки', big: false, }, { unique: className + '__picture-7', pic:'/img/ourProjects/ourProjects_2_7.jpg', picWebp:'/img/ourProjects/ourProjects_2_7.webp', x320webp: '/img/ourProjects/ourProjects_2_7_320.webp', x320jpg: '/img/ourProjects/ourProjects_2_7_320.jpg  320w', x768webp: '/img/ourProjects/ourProjects_2_7_768.webp', x768jpg: '/img/ourProjects/ourProjects_2_7_768.jpg  768w', x1024webp: '/img/ourProjects/ourProjects_2_7_1024.webp', x1024jpg: '/img/ourProjects/ourProjects_2_7_1024.jpg  1024w', hashtag:'#проектджаз', title: 'Синтетически, смешаны с не уникальными данными до степени...', href: '#', date: '16 июня', alt: 'Фотография. Музыкант в очках играет на саксофоне, сидя в кресле', big: true, }, ]; //- -var picturesList2 = [
//-   {
//-     unique: className + '__picture-1',
//-     pic:'/img/ourProjects/ourProjects_2_1.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_2_1.webp',
//-     x320webp: '/img/ourProjects/ourProjects_2_1_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_2_1_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_2_1_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_2_1_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_2_1_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_2_1_1024.jpg  1024w',
//-     hashtag:'#пейзаж',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография природы. Луна за тучами',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-2',
//-     pic:'/img/ourProjects/ourProjects_2_2.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_2_2.webp',
//-     x320webp: '/img/ourProjects/ourProjects_2_2_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_2_2_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_2_2_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_2_2_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_2_2_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_2_2_1024.jpg  1024w',
//-     hashtag:'#предмет',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография природы. Сладости на столе',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-3',
//-     pic:'/img/ourProjects/ourProjects_2_3.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_2_3.webp',
//-     x320webp: '/img/ourProjects/ourProjects_2_3_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_2_3_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_2_3_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_2_3_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_2_3_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_2_3_1024.jpg  1024w',
//-     hashtag:'#пейзаж',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография природы. Цветок какой-то',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-4',
//-     pic:'/img/ourProjects/ourProjects_2_4.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_2_4.webp',
//-     x320webp: '/img/ourProjects/ourProjects_2_4_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_2_4_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_2_4_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_2_4_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_2_4_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_2_4_1024.jpg  1024w',
//-     hashtag:'#портрет',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография. Грустный мужчмна в очках',
//-     big: true,
//-   },
//-   {
//-     unique: className + '__picture-5',
//-     pic:'/img/ourProjects/ourProjects_2_5.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_2_5.webp',
//-     x320webp: '/img/ourProjects/ourProjects_2_5_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_2_5_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_2_5_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_2_5_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_2_5_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_2_5_1024.jpg  1024w',
//-     hashtag:'#ретушь',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография природы. Китайский фонарик',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-6',
//-     pic:'/img/ourProjects/ourProjects_2_6.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_2_6.webp',
//-     x320webp: '/img/ourProjects/ourProjects_2_6_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_2_6_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_2_6_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_2_6_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_2_6_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_2_6_1024.jpg  1024w',
//-     hashtag:'#портрет',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография. Портрет девочки',
//-     big: false,
//-   },
//-   {
//-     unique: className + '__picture-7',
//-     pic:'/img/ourProjects/ourProjects_2_7.jpg',
//-     picWebp:'/img/ourProjects/ourProjects_2_7.webp',
//-     x320webp: '/img/ourProjects/ourProjects_2_7_320.webp',
//-     x320jpg: '/img/ourProjects/ourProjects_2_7_320.jpg  320w',
//-     x768webp: '/img/ourProjects/ourProjects_2_7_768.webp',
//-     x768jpg: '/img/ourProjects/ourProjects_2_7_768.jpg  768w',
//-     x1024webp: '/img/ourProjects/ourProjects_2_7_1024.webp',
//-     x1024jpg: '/img/ourProjects/ourProjects_2_7_1024.jpg  1024w',
//-     hashtag:'#проектджаз',
//-     title: 'Синтетически, смешаны с не уникальными данными до степени...',
//-     href: '#',
//-     date: '16 июня',
//-     alt: 'Фотография. Музыкант в очках играет на саксофоне, сидя в кресле',
//-     big: true,
//-   },
//- ];
