-var pictures1 = [ { pic:'/img/ourServices/ourServices_1_1.jpg', picWebp:'/img/ourServices/ourServices_1_1.webp', x320webp: '/img/ourServices/ourServices_1_1_320.webp', x320jpg: '/img/ourServices/ourServices_1_1_320.jpg  320w', x768webp: '/img/ourServices/ourServices_1_1_768.webp', x768jpg: '/img/ourServices/ourServices_1_1_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_1_1_1024.webp', x1024jpg: '/img/ourServices/ourServices_1_1_1024.jpg  1024w', title: 'Высокий уровень вовлечения', text: 'Высокий уровень вовлечения представителей целевой аудитории является четким доказательством...', alt: 'Фотография. Девушка на фоне леса', href: '#', }, { pic:'/img/ourServices/ourServices_1_2.jpg', picWebp:'/img/ourServices/ourServices_1_2.webp', x320webp: '/img/ourServices/ourServices_1_2_320.webp', x320jpg: '/img/ourServices/ourServices_1_2_320.jpg  320w', x768webp: '/img/ourServices/ourServices_1_2_768.webp', x768jpg: '/img/ourServices/ourServices_1_2_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_1_2_1024.webp', x1024jpg: '/img/ourServices/ourServices_1_2_1024.jpg  1024w', title: 'Диаграммы связей', text: 'Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс.', alt: 'Фотография. Девушка в свадебном платье', href: '#', }, { pic:'/img/ourServices/ourServices_1_3.jpg', picWebp:'/img/ourServices/ourServices_1_3.webp', x320webp: '/img/ourServices/ourServices_1_3_320.webp', x320jpg: '/img/ourServices/ourServices_1_3_320.jpg  320w', x768webp: '/img/ourServices/ourServices_1_3_768.webp', x768jpg: '/img/ourServices/ourServices_1_3_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_1_3_1024.webp', x1024jpg: '/img/ourServices/ourServices_1_3_1024.jpg  1024w', title: 'Высокотехнологичная концепция', text: 'В частности, убеждённость некоторых оппонентов способствует подготовке и реализации анализа существующих...', alt: 'Фотография. Закат на море', href: '#', }, { pic:'/img/ourServices/ourServices_1_4.jpg', picWebp:'/img/ourServices/ourServices_1_4.webp', x320webp: '/img/ourServices/ourServices_1_4_320.webp', x320jpg: '/img/ourServices/ourServices_1_4_320.jpg  320w', x768webp: '/img/ourServices/ourServices_1_4_768.webp', x768jpg: '/img/ourServices/ourServices_1_4_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_1_4_1024.webp', x1024jpg: '/img/ourServices/ourServices_1_4_1024.jpg  1024w', title: 'Сложившаяся структура организации', text: 'Кстати,  сторонники тоталитаризма в науке будут объединены в целые кластеры себе подобных.', alt: 'Фотография. На углу стола стоит горшок с растением, рядом стоит бутылек с, предположительно, медицинским препаратом', href: '#', }, { pic:'/img/ourServices/ourServices_1_5.jpg', picWebp:'/img/ourServices/ourServices_1_5.webp', x320webp: '/img/ourServices/ourServices_1_5_320.webp', x320jpg: '/img/ourServices/ourServices_1_5_320.jpg  320w', x768webp: '/img/ourServices/ourServices_1_5_768.webp', x768jpg: '/img/ourServices/ourServices_1_5_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_1_5_1024.webp', x1024jpg: '/img/ourServices/ourServices_1_5_1024.jpg  1024w', title: 'Внутренние резервы и ресурсы', text: 'Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта являются только методом.', alt: 'Фотография. Интерьер кухни в светлых тонах', href: '#', }, ]
//- -var pictures1 = [
//-   {
//-     pic:'/img/ourServices/ourServices_1_1.jpg',
//-     picWebp:'/img/ourServices/ourServices_1_1.webp',
//-     x320webp: '/img/ourServices/ourServices_1_1_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_1_1_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_1_1_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_1_1_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_1_1_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_1_1_1024.jpg  1024w',
//-     title: 'Высокий уровень вовлечения',
//-     text: 'Высокий уровень вовлечения представителей целевой аудитории является четким доказательством...',
//-     alt: 'Фотография. Девушка на фоне леса',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_1_2.jpg',
//-     picWebp:'/img/ourServices/ourServices_1_2.webp',
//-     x320webp: '/img/ourServices/ourServices_1_2_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_1_2_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_1_2_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_1_2_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_1_2_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_1_2_1024.jpg  1024w',
//-     title: 'Диаграммы связей',
//-     text: 'Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс.',
//-     alt: 'Фотография. Девушка в свадебном платье',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_1_3.jpg',
//-     picWebp:'/img/ourServices/ourServices_1_3.webp',
//-     x320webp: '/img/ourServices/ourServices_1_3_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_1_3_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_1_3_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_1_3_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_1_3_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_1_3_1024.jpg  1024w',
//-     title: 'Высокотехнологичная концепция',
//-     text: 'В частности, убеждённость некоторых оппонентов способствует подготовке и реализации анализа существующих...',
//-     alt: 'Фотография. Закат на море',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_1_4.jpg',
//-     picWebp:'/img/ourServices/ourServices_1_4.webp',
//-     x320webp: '/img/ourServices/ourServices_1_4_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_1_4_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_1_4_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_1_4_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_1_4_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_1_4_1024.jpg  1024w',
//-     title: 'Сложившаяся структура организации',
//-     text: 'Кстати,  сторонники тоталитаризма в науке будут объединены в целые кластеры себе подобных.',
//-     alt: 'Фотография. На углу стола стоит горшок с растением, рядом стоит бутылек с, предположительно, медицинским препаратом',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_1_5.jpg',
//-     picWebp:'/img/ourServices/ourServices_1_5.webp',
//-     x320webp: '/img/ourServices/ourServices_1_5_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_1_5_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_1_5_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_1_5_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_1_5_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_1_5_1024.jpg  1024w',
//-     title: 'Внутренние резервы и ресурсы',
//-     text: 'Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта являются только методом.',
//-     alt: 'Фотография. Интерьер кухни в светлых тонах',
//-     href: '#',
//-   },
//- ]


-var pictures2 = [ { pic:'/img/ourServices/ourServices_2_1.jpg', picWebp:'/img/ourServices/ourServices_2_1.webp', x320webp: '/img/ourServices/ourServices_2_1_320.webp', x320jpg: '/img/ourServices/ourServices_2_1_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_1_768.webp', x768jpg: '/img/ourServices/ourServices_2_1_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_1_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_1_1024.jpg  1024w', title: 'Принимая во внимание показатели', text: '', alt: 'Фотография. Кактусы в горшке.', href: '#', }, { pic:'/img/ourServices/ourServices_2_2.jpg', picWebp:'/img/ourServices/ourServices_2_2.webp', x320webp: '/img/ourServices/ourServices_2_2_320.webp', x320jpg: '/img/ourServices/ourServices_2_2_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_2_768.webp', x768jpg: '/img/ourServices/ourServices_2_2_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_2_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_2_1024.jpg  1024w', title: 'Таким образом, выбранный нами...', text: '', alt: 'Фотография. Щенок бежит на камеру', href: '#', }, { pic:'/img/ourServices/ourServices_2_3.jpg', picWebp:'/img/ourServices/ourServices_2_3.webp', x320webp: '/img/ourServices/ourServices_2_3_320.webp', x320jpg: '/img/ourServices/ourServices_2_3_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_3_768.webp', x768jpg: '/img/ourServices/ourServices_2_3_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_3_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_3_1024.jpg  1024w', title: 'Также как высокое качество...', text: '', alt: 'Фотография. На постели стоит ноутбук', href: '#', }, { pic:'/img/ourServices/ourServices_2_4.jpg', picWebp:'/img/ourServices/ourServices_2_4.webp', x320webp: '/img/ourServices/ourServices_2_4_320.webp', x320jpg: '/img/ourServices/ourServices_2_4_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_4_768.webp', x768jpg: '/img/ourServices/ourServices_2_4_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_4_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_4_1024.jpg  1024w', title: 'Безусловно, семантический...', text: '', alt: 'Фотография. Девочка смотрит в камеру через увеличительное стекло', href: '#', }, { pic:'/img/ourServices/ourServices_2_5.jpg', picWebp:'/img/ourServices/ourServices_2_5.webp', x320webp: '/img/ourServices/ourServices_2_5_320.webp', x320jpg: '/img/ourServices/ourServices_2_5_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_5_768.webp', x768jpg: '/img/ourServices/ourServices_2_5_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_5_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_5_1024.jpg  1024w', title: 'Сделанные на базе аналитики выводы...', text: '', alt: 'Фотография. Город, тучи, закат.', href: '#', }, { pic:'/img/ourServices/ourServices_2_6.jpg', picWebp:'/img/ourServices/ourServices_2_6.webp', x320webp: '/img/ourServices/ourServices_2_6_320.webp', x320jpg: '/img/ourServices/ourServices_2_6_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_6_768.webp', x768jpg: '/img/ourServices/ourServices_2_6_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_6_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_6_1024.jpg  1024w', title: 'Есть над чем подумать: активные...', text: '', alt: 'Фотография. Кухня, повар.', href: '#', }, { pic:'/img/ourServices/ourServices_2_7.jpg', picWebp:'/img/ourServices/ourServices_2_7.webp', x320webp: '/img/ourServices/ourServices_2_7_320.webp', x320jpg: '/img/ourServices/ourServices_2_7_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_7_768.webp', x768jpg: '/img/ourServices/ourServices_2_7_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_7_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_7_1024.jpg  1024w', title: 'Сделанные на базе аналитики выводы...', text: '', alt: 'Фотография. Джунгли', href: '#', }, { pic:'/img/ourServices/ourServices_2_8.jpg', picWebp:'/img/ourServices/ourServices_2_8.webp', x320webp: '/img/ourServices/ourServices_2_8_320.webp', x320jpg: '/img/ourServices/ourServices_2_8_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_8_768.webp', x768jpg: '/img/ourServices/ourServices_2_8_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_8_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_8_1024.jpg  1024w', title: 'Как принято считать, сторонники...', text: '', alt: 'Фотография. Человек сидит на краю горы', href: '#', }, { pic:'/img/ourServices/ourServices_2_9.jpg', picWebp:'/img/ourServices/ourServices_2_9.webp', x320webp: '/img/ourServices/ourServices_2_9_320.webp', x320jpg: '/img/ourServices/ourServices_2_9_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_9_768.webp', x768jpg: '/img/ourServices/ourServices_2_9_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_9_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_9_1024.jpg  1024w', title: 'Задача организации, в особенности...', text: '', alt: 'Фотография. Олень', href: '#', }, { pic:'/img/ourServices/ourServices_2_10.jpg', picWebp:'/img/ourServices/ourServices_2_10.webp', x320webp: '/img/ourServices/ourServices_2_10_320.webp', x320jpg: '/img/ourServices/ourServices_2_10_320.jpg  320w', x768webp: '/img/ourServices/ourServices_2_10_768.webp', x768jpg: '/img/ourServices/ourServices_2_10_768.jpg  768w', x1024webp: '/img/ourServices/ourServices_2_10_1024.webp', x1024jpg: '/img/ourServices/ourServices_2_10_1024.jpg  1024w', title: 'Активно развивающиеся...', text: '', alt: 'Фотография. Город.', href: '#', }, ]
//- -var pictures2 = [
//-   {
//-     pic:'/img/ourServices/ourServices_2_1.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_1.webp',
//-     x320webp: '/img/ourServices/ourServices_2_1_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_1_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_1_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_1_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_1_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_1_1024.jpg  1024w',
//-     title: 'Принимая во внимание показатели',
//-     text: '',
//-     alt: 'Фотография. Кактусы в горшке.',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_2.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_2.webp',
//-     x320webp: '/img/ourServices/ourServices_2_2_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_2_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_2_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_2_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_2_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_2_1024.jpg  1024w',
//-     title: 'Таким образом, выбранный нами...',
//-     text: '',
//-     alt: 'Фотография. Щенок бежит на камеру',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_3.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_3.webp',
//-     x320webp: '/img/ourServices/ourServices_2_3_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_3_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_3_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_3_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_3_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_3_1024.jpg  1024w',
//-     title: 'Также как высокое качество...',
//-     text: '',
//-     alt: 'Фотография. На постели стоит ноутбук',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_4.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_4.webp',
//-     x320webp: '/img/ourServices/ourServices_2_4_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_4_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_4_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_4_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_4_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_4_1024.jpg  1024w',
//-     title: 'Безусловно, семантический...',
//-     text: '',
//-     alt: 'Фотография. Девочка смотрит в камеру через увеличительное стекло',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_5.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_5.webp',
//-     x320webp: '/img/ourServices/ourServices_2_5_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_5_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_5_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_5_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_5_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_5_1024.jpg  1024w',
//-     title: 'Сделанные на базе аналитики выводы...',
//-     text: '',
//-     alt: 'Фотография. Город, тучи, закат.',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_6.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_6.webp',
//-     x320webp: '/img/ourServices/ourServices_2_6_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_6_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_6_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_6_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_6_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_6_1024.jpg  1024w',
//-     title: 'Есть над чем подумать: активные...',
//-     text: '',
//-     alt: 'Фотография. Кухня, повар.',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_7.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_7.webp',
//-     x320webp: '/img/ourServices/ourServices_2_7_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_7_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_7_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_7_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_7_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_7_1024.jpg  1024w',
//-     title: 'Сделанные на базе аналитики выводы...',
//-     text: '',
//-     alt: 'Фотография. Джунгли',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_8.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_8.webp',
//-     x320webp: '/img/ourServices/ourServices_2_8_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_8_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_8_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_8_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_8_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_8_1024.jpg  1024w',
//-     title: 'Как принято считать, сторонники...',
//-     text: '',
//-     alt: 'Фотография. Человек сидит на краю горы',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_9.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_9.webp',
//-     x320webp: '/img/ourServices/ourServices_2_9_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_9_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_9_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_9_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_9_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_9_1024.jpg  1024w',
//-     title: 'Задача организации, в особенности...',
//-     text: '',
//-     alt: 'Фотография. Олень',
//-     href: '#',
//-   },
//-   {
//-     pic:'/img/ourServices/ourServices_2_10.jpg',
//-     picWebp:'/img/ourServices/ourServices_2_10.webp',
//-     x320webp: '/img/ourServices/ourServices_2_10_320.webp',
//-     x320jpg: '/img/ourServices/ourServices_2_10_320.jpg  320w',
//-     x768webp: '/img/ourServices/ourServices_2_10_768.webp',
//-     x768jpg: '/img/ourServices/ourServices_2_10_768.jpg  768w',
//-     x1024webp: '/img/ourServices/ourServices_2_10_1024.webp',
//-     x1024jpg: '/img/ourServices/ourServices_2_10_1024.jpg  1024w',
//-     title: 'Активно развивающиеся...',
//-     text: '',
//-     alt: 'Фотография. Город.',
//-     href: '#',
//-   },
//- ]



-var picturesExecutedWorks1 = [ { pic: '/img/ourServices/executedWorks/executedWorks_1_1.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_1.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_1_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_1_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_1_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_1_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_1_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_1_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_2.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_2.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_2_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_2_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_2_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_2_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_2_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_2_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_3.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_3.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_3_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_3_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_3_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_3_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_3_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_3_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_4.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_4.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_4_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_4_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_4_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_4_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_4_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_4_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_5.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_5.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_5_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_5_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_5_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_5_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_5_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_5_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_6.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_6.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_6_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_6_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_6_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_6_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_6_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_6_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_7.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_7.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_7_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_7_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_7_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_7_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_7_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_7_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_8.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_8.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_8_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_8_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_8_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_8_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_8_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_8_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_9.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_9.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_9_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_9_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_9_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_9_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_9_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_9_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_10.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_10.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_10_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_10_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_10_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_10_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_10_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_10_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_11.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_11.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_11_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_11_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_11_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_11_768.jpg 768w', x320webp: '/img/ourServices/executedWorks/executedWorks_1_11_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_11_320.jpg 320w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_12.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_12.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_12_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_12_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_12_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_12_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_12_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_12_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_13.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_13.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_13_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_13_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_13_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_13_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_13_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_13_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_14.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_14.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_14_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_14_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_14_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_14_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_14_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_14_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_15.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_15.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_15_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_15_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_15_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_15_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_15_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_15_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_1_16.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_1_16.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_1_16_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_1_16_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_1_16_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_1_16_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_1_16_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_16_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, ];

//- -var picturesExecutedWorks1 = [
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_1.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_1.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_1_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_1_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_1_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_1_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_1_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_1_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_2.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_2.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_2_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_2_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_2_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_2_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_2_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_2_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_3.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_3.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_3_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_3_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_3_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_3_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_3_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_3_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_4.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_4.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_4_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_4_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_4_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_4_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_4_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_4_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_5.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_5.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_5_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_5_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_5_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_5_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_5_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_5_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_6.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_6.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_6_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_6_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_6_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_6_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_6_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_6_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_7.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_7.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_7_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_7_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_7_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_7_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_7_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_7_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_8.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_8.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_8_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_8_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_8_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_8_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_8_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_8_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_9.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_9.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_9_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_9_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_9_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_9_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_9_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_9_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_10.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_10.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_10_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_10_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_10_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_10_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_10_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_10_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_11.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_11.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_11_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_11_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_11_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_11_768.jpg 768w',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_11_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_11_320.jpg 320w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_12.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_12.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_12_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_12_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_12_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_12_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_12_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_12_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_13.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_13.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_13_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_13_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_13_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_13_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_13_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_13_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_14.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_14.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_14_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_14_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_14_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_14_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_14_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_14_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_15.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_15.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_15_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_15_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_15_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_15_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_15_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_15_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_1_16.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_1_16.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_1_16_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_1_16_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_1_16_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_1_16_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_1_16_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_1_16_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//- ];


-var picturesExecutedWorks2 = [ { pic: '/img/ourServices/executedWorks/executedWorks_2_1.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_1.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_1_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_1_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_1_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_1_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_1_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_1_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_2.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_2.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_2_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_2_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_2_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_2_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_2_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_2_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_3.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_3.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_3_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_3_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_3_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_3_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_3_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_3_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_4.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_4.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_4_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_4_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_4_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_4_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_4_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_4_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_5.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_5.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_5_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_5_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_5_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_5_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_5_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_5_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_6.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_6.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_6_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_6_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_6_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_6_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_6_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_6_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_7.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_7.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_7_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_7_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_7_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_7_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_7_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_7_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_8.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_8.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_8_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_8_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_8_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_8_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_8_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_8_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_9.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_9.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_9_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_9_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_9_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_9_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_9_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_9_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_10.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_10.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_10_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_10_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_10_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_10_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_10_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_10_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_11.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_11.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_11_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_11_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_11_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_11_768.jpg 768w', x320webp: '/img/ourServices/executedWorks/executedWorks_2_11_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_11_320.jpg 320w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_12.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_12.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_12_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_12_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_12_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_12_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_12_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_12_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_13.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_13.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_13_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_13_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_13_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_13_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_13_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_13_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_14.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_14.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_14_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_14_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_14_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_14_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_14_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_14_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_15.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_15.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_15_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_15_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_15_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_15_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_15_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_15_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, { pic: '/img/ourServices/executedWorks/executedWorks_2_16.jpg', picWebp: '/img/ourServices/executedWorks/executedWorks_2_16.webp', x320webp: '/img/ourServices/executedWorks/executedWorks_2_16_320.webp', x320jpg: '/img/ourServices/executedWorks/executedWorks_2_16_320.jpg 320w', x768webp: '/img/ourServices/executedWorks/executedWorks_2_16_768.webp', x768jpg: '/img/ourServices/executedWorks/executedWorks_2_16_768.jpg 768w', x1024webp: '/img/ourServices/executedWorks/executedWorks_2_16_1024.webp', x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_16_1024.jpg 1024w', href: '#', alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг', }, ];

//- -var picturesExecutedWorks2 = [
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_1.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_1.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_1_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_1_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_1_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_1_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_1_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_1_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_2.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_2.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_2_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_2_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_2_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_2_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_2_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_2_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_3.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_3.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_3_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_3_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_3_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_3_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_3_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_3_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_4.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_4.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_4_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_4_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_4_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_4_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_4_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_4_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_5.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_5.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_5_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_5_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_5_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_5_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_5_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_5_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_6.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_6.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_6_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_6_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_6_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_6_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_6_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_6_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_7.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_7.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_7_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_7_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_7_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_7_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_7_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_7_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_8.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_8.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_8_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_8_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_8_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_8_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_8_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_8_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_9.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_9.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_9_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_9_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_9_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_9_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_9_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_9_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_10.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_10.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_10_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_10_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_10_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_10_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_10_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_10_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_11.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_11.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_11_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_11_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_11_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_11_768.jpg 768w',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_11_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_11_320.jpg 320w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_12.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_12.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_12_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_12_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_12_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_12_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_12_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_12_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_13.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_13.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_13_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_13_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_13_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_13_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_13_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_13_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_14.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_14.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_14_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_14_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_14_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_14_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_14_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_14_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_15.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_15.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_15_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_15_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_15_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_15_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_15_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_15_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//-   {
//-     pic: '/img/ourServices/executedWorks/executedWorks_2_16.jpg',
//-     picWebp: '/img/ourServices/executedWorks/executedWorks_2_16.webp',
//-     x320webp: '/img/ourServices/executedWorks/executedWorks_2_16_320.webp',
//-     x320jpg: '/img/ourServices/executedWorks/executedWorks_2_16_320.jpg 320w',
//-     x768webp: '/img/ourServices/executedWorks/executedWorks_2_16_768.webp',
//-     x768jpg: '/img/ourServices/executedWorks/executedWorks_2_16_768.jpg 768w',
//-     x1024webp: '/img/ourServices/executedWorks/executedWorks_2_16_1024.webp',
//-     x1024jpg: '/img/ourServices/executedWorks/executedWorks_2_16_1024.jpg 1024w',
//-     href: '#',
//-     alt: 'Какая-то фотография с изображением чего-то, что говорит нам о высоком качестве оказываемых нами услуг',
//-   },
//- ];
